<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2016 - 2017 Luke Myers (FRC Team 980 ThunderBots)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team980.thunderscout">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    -->
    <application
        android:name=".ThunderScout"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ThunderScout"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/ThunderScout.BaseTheme"
        tools:ignore="ManifestResource">
        <activity
            android:name=".MainActivity"
            android:label="Thunder Scout"
            android:theme="@style/ThunderScout.BaseTheme.NavigationPane">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".match.ScoutingFlowActivity"
            android:label="Scout a match..."
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThunderScout.BaseTheme" />
        <activity
            android:name=".info.statistics.MatchInfoActivity"
            android:label="Match Info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThunderScout.BaseTheme" />
        <activity
            android:name=".info.statistics.TeamInfoActivity"
            android:label="Team Info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThunderScout.BaseTheme" />
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThunderScout.BaseTheme.ActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity android:name=".export.ExportActivity"
            android:label="Export..."
            android:parentActivityName=".MainActivity"
            android:theme="@style/ThunderScout.BaseTheme.ActionBar" />
        <!-- <activity android:name=".sheets.GoogleAuthActivity"></activity> -->
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".preferences.SettingsActivity"
            android:theme="@style/ThunderScout.MaterialAboutActivity" />

        <service android:name=".bluetooth.BluetoothServerService" />
        <service
            android:name=".bluetooth.BluetoothQuickTileService"
            android:icon="@drawable/ic_bluetooth_searching_white_24dp"
            android:label="ThunderScout Bluetooth Server"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.team980.thunderscout.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>